## Peer Assignment 9.3
### Web Scrapping

In [2]:
import pandas as pd

In [1]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

In [3]:
C_wiki = pd.read_html(url)

In [7]:
C_wiki[0]

,Postal Code,Borough,Neighborhood
0,M1A,Not assigned,Not assigned
1,M2A,Not assigned,Not assigned
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
...,...,...,...
175,M5Z,Not assigned,Not assigned
176,M6Z,Not assigned,Not assigned
177,M7Z,Not assigned,Not assigned
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."
179,M9Z,Not assigned,Not assigned

In [8]:
df= C_wiki[0]

  Postal Code           Borough               Neighborhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [21]:
condition = df['Borough'] != 'Not assigned'

In [23]:
df_1 = df[condition]

In [56]:
df_1.head(30)

,Postal Code,Borough,Neighborhood
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
5,M6A,North York,"Lawrence Manor, Lawrence Heights"
6,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"
8,M9A,Etobicoke,"Islington Avenue, Humber Valley Village"
9,M1B,Scarborough,"Malvern, Rouge"
11,M3B,North York,Don Mills
12,M4B,East York,"Parkview Hill, Woodbine Gardens"
13,M5B,Downtown Toronto,"Garden District, Ryerson"
14,M6B,North York,Glencairn
17,M9B,Etobicoke,"West Deane Park, Princess Gardens, Martin Grov..."
18,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek"
20,M3C,North York,Don Mills
21,M4C,East York,Woodbine Heights
22,M5C,Downtown Toronto,St. James Town
23,M6C,York,Humewood-Cedarvale
26,M9C,Etobicoke,"Eringate, Bloordale Gardens, Old Burnhamthorpe..."
27,M1E,Scarborough,"Guildwood, Morningside, West Hill"
30,M4E,East Toronto,The Beaches
31,M5E,Downtown Toronto,Berczy Park
32,M6E,York,Caledonia-Fairbanks
36,M1G,Scarborough,Woburn
39,M4G,East York,Leaside
40,M5G,Downtown Toronto,Central Bay Street
41,M6G,Downtown Toronto,Christie
45,M1H,Scarborough,Cedarbrae
46,M2H,North York,Hillcrest Village
47,M3H,North York,"Bathurst Manor, Wilson Heights, Downsview North"
48,M4H,East York,Thorncliffe Park

In [63]:
df_1.reset_index(inplace=True)

In [ ]:
df_1.drop('index',1,inplace=True)

In [68]:
condition2 = df_1['Neighborhood'] =='Not assigned'

In [69]:
df_1

,Postal Code,Borough,Neighborhood
0,M3A,North York,Parkwoods
1,M4A,North York,Victoria Village
2,M5A,Downtown Toronto,"Regent Park, Harbourfront"
3,M6A,North York,"Lawrence Manor, Lawrence Heights"
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"
...,...,...,...
98,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North"
99,M4Y,Downtown Toronto,Church and Wellesley
100,M7Y,East Toronto,"Business reply mail Processing Centre, South C..."
101,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu..."
102,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."

In [71]:
df_1.shape

(103, 3)

## Q2
### Merge with Lat Long info

In [84]:
path = 'C:\\Users\\mrugesh.shah\\Downloads\\lat.csv'

In [86]:
ll= pd.read_csv(path)

In [87]:
ll

     Unnamed: 0 Postal Code   Latitude  Longitude
0             0         M1B  43.806686 -79.194353
1             1         M1C  43.784535 -79.160497
2             2         M1E  43.763573 -79.188711
3             3         M1G  43.770992 -79.216917
4             4         M1H  43.773136 -79.239476
..          ...         ...        ...        ...
98           98         M9N  43.706876 -79.518188
99           99         M9P  43.696319 -79.532242
100         100         M9R  43.688905 -79.554724
101         101         M9V  43.739416 -79.588437
102         102         M9W  43.706748 -79.594054

[103 rows x 4 columns]

In [91]:
ll.drop('Unnamed: 0',1, inplace=True)

In [92]:
ll

    Postal Code   Latitude  Longitude
0           M1B  43.806686 -79.194353
1           M1C  43.784535 -79.160497
2           M1E  43.763573 -79.188711
3           M1G  43.770992 -79.216917
4           M1H  43.773136 -79.239476
..          ...        ...        ...
98          M9N  43.706876 -79.518188
99          M9P  43.696319 -79.532242
100         M9R  43.688905 -79.554724
101         M9V  43.739416 -79.588437
102         M9W  43.706748 -79.594054

[103 rows x 3 columns]

In [98]:
merge=pd.merge(df_1,ll,on='Postal Code', how='left')

In [99]:
merge

,Postal Code,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494
...,...,...,...,...,...
98,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North",43.653654,-79.506944
99,M4Y,Downtown Toronto,Church and Wellesley,43.665860,-79.383160
100,M7Y,East Toronto,"Business reply mail Processing Centre, South C...",43.662744,-79.321558
101,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu...",43.636258,-79.498509
102,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,...",43.628841,-79.520999

In [102]:
merge.to_csv('merge.csv')

In [103]:
pwd

'C:\\Users\\mrugesh.shah\\Documents\\GitHub\\Coursera_Capstone'